
<!doctype html>
<html>
<head>
<title>My First Website</title>

<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description"
	content="A journey of a thousand miles begins with a single step" />
</head>

<body>
	<div>
		<iframe width="500" height="350" align="right" src="https://www.youtube.com/embed/MCxtj5gORJA" frameborder="0" allowfullscreen></iframe>
		<h1>Hello World!</h1>
		<h2>A few facts about the world we live in</h2>
		<br/> <br/> 		<br/> <br/>
		<p><img  src="https://scontent-sin1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/10801627_884692148209121_4833849410852579918_n.jpg?oh=0716956dd9bb83530c02cda8dfa82068&oe=56EAB84B" width ="500"></p>
		<p>ada podaaaaaaaaaaaaaaaaaaaaaaaaaa<br/>		<br/> <br/></p>
		<hr>
		<h3>About the Earth</h3>
			<ul>
				<li><strong>Mass: </strong>897879697 billion kgs</li>
				<li><strong>Mass: </strong>897879697 billion kgs</li>
				<li><strong>Mass: </strong><a href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQoa9cIQgg2sJIGkPX6SU37TnufH99sPFHybOdGTiQU-7JCdtGQ">The Moon</a></li>
				<li><strong>Mass: </strong>897879697 billion kgs</li>
				<li><strong>Mass: </strong>897879697 billion kgs</li>			
			</ul>
		<hr>
		<h3>Top 3 earth facts</h3>
			<ol>
				<li>The Earth's rotation is gradually slowing</li>
				<li>The Earth's rotation is gradually slowing</li>
				<li>The Earth's rotation is gradually slowing</li>
			</ol>
		<hr>
		<h3>Earth's nearest Neighbours</h3>
		<table>
			<tr><th>Name</th><th>Radius</th><th>Average Temperature</th>
			<tr><td>Mars</td><td>3,3900km</td><td>-55 &deg;C</td></tr>
			<tr><td>Venus</td><td>6,052km</td><td>460 &deg;C</td></tr>
		</table>	
		<hr>
		<form action="http://space-facts.com/earth/">
		<p>Want to know more?</p> 
		<p><input type="submit" value="Click Here!"></p>
		</form>
	</div>
</body>
</html>

